body {
    display: flex;
    flex-flow: column wrap;
    background-color: lightgrey;
    align-items: center;
}

.container {
    display: flex;
    flex-flow: column wrap;
    width: 60%; 
    justify-content: center;
}

.reference {
    display: flex;
    border: 5px solid darkgrey;
    padding: 5px;
    align-items: center;
}

.flex-outer {
    list-style-type: none;
}

.flex-outer > li {
    padding: 10px;
}

.flex-inner {
    list-style-type: none;
    padding: 0px;
}

hr {
    border: 1px solid darkgrey;
}